# Amazon Data Wrangler

Importing Libraries

In [12]:
import matplotlib as mp
import pandas as pd
import numpy as np
import os
from datetime import datetime
import csv
import math
import warnings

Fetching data from CSV related earlier

In [13]:
df = pd.read_csv("Mobiles")
df

,Product,Prices,Ratings,Total Ratings,Availibility,Links
0,OnePlus 9R 5G (Lake Blue 8GB RAM 128GB Storage),₹36999.00,4.3 out of 5 stars,24739 ratings,In stock.,https://www.amazon.in/Test-Exclusive_2020_1180...
1,New Apple iPhone 12 (128GB) - Blue,NaN,4.6 out of 5 stars,1594 ratings,NaN,https://www.amazon.in/New-Apple-iPhone-12-128G...
2,Redmi Note 9 (Aqua Green 4GB RAM 128GB Storage...,₹12999.00,4.3 out of 5 stars,105327 ratings,In stock on November 14 2021.,https://www.amazon.in/Redmi-Note-Arctic-White-...
3,OPPO A31 (Mystery Black 4GB RAM 64GB Storage) ...,₹11490.00,4.2 out of 5 stars,33761 ratings,Usually dispatched in 2 to 3 weeks.,https://www.amazon.in/Mystery-Storage-Addition...

Cleaning the Name of the Product

In [14]:
#cleaning the name

ext=[]
for i in range(len(df['Product'])):
    name , extra = df.iloc[i,0].split("(")
    df.iloc[i,0]=name
    ext.append(extra)

Cleaning Price Factor

In [15]:
# cleaning price

pr = df.iloc[0,1]
df.iloc[0,1]= float(pr[1:])

pr2 = df.iloc[1,1]
df.iloc[1,1] = 0.0

pr3 = df.iloc[2,1]
df.iloc[2,1]= float(pr3[1:])

pr4 = df.iloc[3,1]
df.iloc[3,1]= float(pr4[1:])

Clean Rating and Availibility Factors

In [16]:
#cleaning ratings 

for i in range(len(df["Ratings"])):
    val = df.iloc[i,2]
    w = val.split(" ")
    df.iloc[i,2] = float(w[0])

#clean total ratings 

for i in range(len(df["Total Ratings"])):
    val = df.iloc[i,3]
    w = list(val.split(" "))
    df.iloc[i,3] = float(w[0])

#cleaning availibilty 

df.iloc[0,4]= "Yes"
df.iloc[1,4] = "No"
df.iloc[2,4]= "Yes"
df.iloc[3,4]= "Yes"

df

,Product,Prices,Ratings,Total Ratings,Availibility,Links
0,OnePlus 9R 5G,36999,4.3,24739,Yes,https://www.amazon.in/Test-Exclusive_2020_1180...
1,New Apple iPhone 12,0,4.6,1594,No,https://www.amazon.in/New-Apple-iPhone-12-128G...
2,Redmi Note 9,12999,4.3,105327,Yes,https://www.amazon.in/Redmi-Note-Arctic-White-...
3,OPPO A31,11490,4.2,33761,Yes,https://www.amazon.in/Mystery-Storage-Addition...

### Clean Reviews

In [34]:
# ONE PLUS 9R 

df = pd.read_csv("Data_1")
df.head()

,Product Name,Names,Heading,Date,Ratings,Reviews,Page Number,Link
0,OnePlus 9R 5G (Lake Blue 8GB RAM 128GB Storage),ASHANNITA,Claim for Replacement of Oneplus 9R phone...,Reviewed in India on 30 May 2021,1.0 out of 5 stars,HiPlease consider this message with a seriou...,1,https://www.amazon.in/Test-Exclusive_2020_1180...
1,OnePlus 9R 5G (Lake Blue 8GB RAM 128GB Storage),Vijay Gandhi,OnePlus 9R - Not As per Expectations,Reviewed in India on 19 April 2021,1.0 out of 5 stars,Battery Issue.... Phone is Heating during Ch...,1,https://www.amazon.in/Test-Exclusive_2020_1180...
2,OnePlus 9R 5G (Lake Blue 8GB RAM 128GB Storage),NeHaaL,Heating issue,Reviewed in India on 19 April 2021,1.0 out of 5 stars,Facing heating issue while using camera app ...,1,https://www.amazon.in/Test-Exclusive_2020_1180...
3,OnePlus 9R 5G (Lake Blue 8GB RAM 128GB Storage),Mohit MJ,Amazing - True Flagship,Reviewed in India on 19 April 2021,5.0 out of 5 stars,My first time buying a OnePlus phone and I r...,1,https://www.amazon.in/Test-Exclusive_2020_1180...
4,OnePlus 9R 5G (Lake Blue 8GB RAM 128GB Storage),AshokA,Over heat mobile,Reviewed in India on 19 April 2021,1.0 out of 5 stars,Within 10 minutes of usage. It’s felt like o...,1,https://www.amazon.in/Test-Exclusive_2020_1180...

In [45]:
df["Date"].unique()

array(['Reviewed in India on 18 December 2020',
       'Reviewed in India on 24 December 2020',
       'Reviewed in India on 7 November 2020',
       'Reviewed in India on 1 June 2021',
       'Reviewed in India on 14 December 2020',
       'Reviewed in India on 2 December 2020',
       'Reviewed in India on 24 March 2021',
       'Reviewed in India on 26 February 2021',
       'Reviewed in India on 14 November 2020',
       'Reviewed in India on 26 December 2020',
       'Reviewed in India on 8 April 2021',
       'Reviewed in India on 9 June 2021',
       'Reviewed in India on 4 June 2021',
       'Reviewed in India on 9 May 2021',
       'Reviewed in India on 27 September 2021',
       'Reviewed in India on 21 August 2021',
       'Reviewed in India on 19 November 2020',
       'Reviewed in India on 16 May 2021',
       'Reviewed in India on 10 June 2021',
       'Reviewed in India on 27 January 2021',
       'Reviewed in India on 2 April 2021',
       'Reviewed in India on 31 July 2021',
       'Reviewed in India on 21 January 2021',
       'Reviewed in India on 6 June 2021',
       'Reviewed in India on 2 May 2021',
       'Reviewed in India on 24 June 2021',
       'Reviewed in India on 11 December 2020',
       'Reviewed in India on 16 June 2021',
       'Reviewed in India on 16 January 2021',
       'Reviewed in India on 21 June 2021',
       'Reviewed in India on 20 June 2021',
       'Reviewed in India on 6 April 2021',
       'Reviewed in India on 24 October 2021',
       'Reviewed in India on 28 August 2021',
       'Reviewed in India on 9 January 2021',
       'Reviewed in India on 17 February 2021',
       'Reviewed in India on 19 May 2021',
       'Reviewed in India on 25 June 2021',
       'Reviewed in India on 2 June 2021',
       'Reviewed in India on 11 November 2020',
       'Reviewed in India on 6 May 2021',
       'Reviewed in India on 6 August 2021',
       'Reviewed in India on 29 May 2021',
       'Reviewed in India on 10 September 2021',
       'Reviewed in India on 26 July 2021',
       'Reviewed in India on 3 September 2021',
       'Reviewed in India on 20 February 2021',
       'Reviewed in India on 17 April 2021',
       'Reviewed in India on 6 January 2021',
       'Reviewed in India on 23 June 2021',
       'Reviewed in India on 25 January 2021',
       'Reviewed in India on 10 August 2021',
       'Reviewed in India on 30 May 2021',
       'Reviewed in India on 16 March 2021',
       'Reviewed in India on 10 April 2021',
       'Reviewed in India on 29 January 2021',
       'Reviewed in India on 26 August 2021',
       'Reviewed in India on 6 December 2020',
       'Reviewed in India on 6 July 2021',
       'Reviewed in India on 26 June 2021',
       'Reviewed in India on 11 June 2021',
       'Reviewed in India on 20 August 2021',
       'Reviewed in India on 29 August 2021',
       'Reviewed in India on 20 November 2020',
       'Reviewed in India on 5 January 2021',
       'Reviewed in India on 25 March 2021',
       'Reviewed in India on 17 August 2021',
       'Reviewed in India on 18 June 2021',
       'Reviewed in India on 8 May 2021',
       'Reviewed in India on 22 August 2021',
       'Reviewed in India on 15 March 2021',
       'Reviewed in India on 27 November 2020',
       'Reviewed in India on 9 September 2021',
       'Reviewed in India on 3 February 2021',
       'Reviewed in India on 5 June 2021',
       'Reviewed in India on 10 February 2021',
       'Reviewed in India on 30 July 2021',
       'Reviewed in India on 13 July 2021',
       'Reviewed in India on 21 September 2021',
       'Reviewed in India on 12 July 2021',
       'Reviewed in India on 28 February 2021',
       'Reviewed in India on 22 June 2021',
       'Reviewed in India on 12 September 2021',
       'Reviewed in India on 26 May 2021',
       'Reviewed in India on 19 July 2021',
       'Reviewed in India on 5 September 2021',
       'Reviewed in India on 28 July 2021',
       'Reviewed in India on 22 May 2021',
       'Reviewed in India on 12 May 2021',
       'Reviewed in India on 27 May 2021',
       'Reviewed in India on 12 June 2021',
       'Reviewed in India on 27 August 2021',
       'Reviewed in India on 4 April 2021',
       'Reviewed in India on 22 September 2021',
       'Reviewed in India on 24 April 2021',
       'Reviewed in India on 23 February 2021',
       'Reviewed in India on 17 July 2021',
       'Reviewed in India on 11 August 2021',
       'Reviewed in India on 3 October 2021',
       'Reviewed in India on 20 January 2021',
       'Reviewed in India on 13 April 2021',
       'Reviewed in India on 22 July 2021',
       'Reviewed in India on 25 May 2021',
       'Reviewed in India on 14 June 2021',
       'Reviewed in India on 8 September 2021',
       'Reviewed in India on 14 May 2021',
       'Reviewed in India on 5 March 2021',
       'Reviewed in India on 1 July 2021',
       'Reviewed in India on 1 April 2021',
       'Reviewed in India on 30 August 2021',
       'Reviewed in India on 7 July 2021',
       'Reviewed in India on 20 December 2020',
       'Reviewed in India on 14 April 2021',
       'Reviewed in India on 25 April 2021',
       'Reviewed in India on 28 January 2021',
       'Reviewed in India on 3 June 2021',
       'Reviewed in India on 9 July 2021',
       'Reviewed in India on 28 May 2021',
       'Reviewed in India on 25 July 2021',
       'Reviewed in India on 1 August 2021',
       'Reviewed in India on 7 April 2021',
       'Reviewed in India on 4 September 2021',
       'Reviewed in India on 31 May 2021',
       'Reviewed in India on 15 August 2021',
       'Reviewed in India on 8 June 2021',
       'Reviewed in India on 13 September 2021'], dtype=object)

In [36]:
df.isnull()

     Product Name  Names  Heading   Date  Ratings  Reviews  Page Number   Link
0           False  False    False  False    False    False        False  False
1           False  False    False  False    False    False        False  False
2           False  False    False  False    False    False        False  False
3           False  False    False  False    False    False        False  False
4           False  False    False  False    False    False        False  False
..            ...    ...      ...    ...      ...      ...          ...    ...
145         False  False    False  False    False    False        False  False
146         False  False    False  False    False    False        False  False
147         False  False    False  False    False    False        False  False
148         False  False    False  False    False    False        False  False
149         False  False    False  False    False    False        False  False

[150 rows x 8 columns]

In [37]:
df.isnull().count()

Product Name    150
Names           150
Heading         150
Date            150
Ratings         150
Reviews         150
Page Number     150
Link            150
dtype: int64

In [38]:
df.describe()

       Page Number
count   150.000000
mean     29.000000
std      17.339871
min       1.000000
25%      13.000000
50%      29.000000
75%      45.000000
max      57.000000

In [39]:
#Product Name clean

ext=[]
for i in range(len(df['Product Name'])):
    name , extra = df.iloc[i,0].split("(")
    df.iloc[i,0] = name
    ext.append(extra)

In [40]:
# Dates clean

for i in range(len(df["Date"])):
    rw= df.iloc[i,3]
    temp = [ x for x in rw.split(" ")]
    tem  = str(temp[4:])
    st=" ".join(temp[4:])
    #print(st)
    df.iloc[i,3] = st

# Cleaning Ratings

for i in range(len(df["Ratings"])):
    rat = df.iloc[i, 4]
    df.iloc[i,4]= float(rat[0:3])
df

,Product Name,Names,Heading,Date,Ratings,Reviews,Page Number,Link
0,OnePlus 9R 5G,ASHANNITA,Claim for Replacement of Oneplus 9R phone...,30 May 2021,1,HiPlease consider this message with a seriou...,1,https://www.amazon.in/Test-Exclusive_2020_1180...
1,OnePlus 9R 5G,Vijay Gandhi,OnePlus 9R - Not As per Expectations,19 April 2021,1,Battery Issue.... Phone is Heating during Ch...,1,https://www.amazon.in/Test-Exclusive_2020_1180...
2,OnePlus 9R 5G,NeHaaL,Heating issue,19 April 2021,1,Facing heating issue while using camera app ...,1,https://www.amazon.in/Test-Exclusive_2020_1180...
3,OnePlus 9R 5G,Mohit MJ,Amazing - True Flagship,19 April 2021,5,My first time buying a OnePlus phone and I r...,1,https://www.amazon.in/Test-Exclusive_2020_1180...
4,OnePlus 9R 5G,AshokA,Over heat mobile,19 April 2021,1,Within 10 minutes of usage. It’s felt like o...,1,https://www.amazon.in/Test-Exclusive_2020_1180...
...,...,...,...,...,...,...,...,...
145,OnePlus 9R 5G,prakashvarma,Value for Money Except Camera,28 June 2021,5,A perfect balance in everything except the c...,57,https://www.amazon.in/Test-Exclusive_2020_1180...
146,OnePlus 9R 5G,Vinod kumar,Good Mobile to buy,22 April 2021,5,It's very good in all terms.Most of the feat...,57,https://www.amazon.in/Test-Exclusive_2020_1180...
147,OnePlus 9R 5G,Harshit D.,It heats a little but..,25 April 2021,4,It heats but dosen't affect its performace. ...,57,https://www.amazon.in/Test-Exclusive_2020_1180...
148,OnePlus 9R 5G,Ravi Prakash,A flagship experience!,25 June 2021,5,Everything about the phone is awesome. The o...,57,https://www.amazon.in/Test-Exclusive_2020_1180...
149,OnePlus 9R 5G,Aman,The price is just perfect for this range,14 June 2021,5,One the best brand in the world....with one ...,57,https://www.amazon.in/Test-Exclusive_2020_1180...

In [41]:
df['Ratings'].describe()

count     150.0
unique      5.0
top         5.0
freq       48.0
Name: Ratings, dtype: float64

Converting to CSV file

In [42]:
df.to_csv("Data1_new",index=False)

In [ ]:
# IPHONE 12

In [43]:
df = pd.read_csv("Data_1b")
df.head()

,Product Name,Names,Heading,Date,Ratings,Reviews,Page Number,Link
0,New Apple iPhone 12 (128GB) - Blue,RakhuNathan,Not Really worth the money,Reviewed in India on 18 December 2020,4.0 out of 5 stars,I have been an android user for the past 8+ ...,1,https://www.amazon.in/New-Apple-iPhone-12-128G...
1,New Apple iPhone 12 (128GB) - Blue,Good vegetable,How to decide between iPhone 11 and 12,Reviewed in India on 24 December 2020,4.0 out of 5 stars,"After thinking a lot, I decided to go ahead ...",1,https://www.amazon.in/New-Apple-iPhone-12-128G...
2,New Apple iPhone 12 (128GB) - Blue,Anil V Oommen,iPhone 12 review,Reviewed in India on 7 November 2020,3.0 out of 5 stars,"Positives: Very fast, Picture Quality, video...",1,https://www.amazon.in/New-Apple-iPhone-12-128G...
3,New Apple iPhone 12 (128GB) - Blue,Sapana Konthoujam,Very poor service especially related to buying...,Reviewed in India on 1 June 2021,1.0 out of 5 stars,The media could not be loa...,1,https://www.amazon.in/New-Apple-iPhone-12-128G...
4,New Apple iPhone 12 (128GB) - Blue,shubham,Apple .....bas always been just apple.,Reviewed in India on 14 December 2020,5.0 out of 5 stars,Pros:there are 1000s of blog for prosCons:Ap...,1,https://www.amazon.in/New-Apple-iPhone-12-128G...

In [46]:
ext=[]
for i in range(len(df['Product Name'])):
    name , extra = df.iloc[i,0].split("(")
    df.iloc[i,0] = name
    ext.append(extra)

# Dates clean

for i in range(len(df["Date"])):
    rw= df.iloc[i,3]
    temp = [ x for x in rw.split(" ")]
    tem  = str(temp[4:])
    st=" ".join(temp[4:])
    #print(st)
    df.iloc[i,3] = st

# Cleaning Ratings

for i in range(len(df["Ratings"])):
    rat = df.iloc[i, 4]
    df.iloc[i,4]= float(rat[0:3])
df

,Product Name,Names,Heading,Date,Ratings,Reviews,Page Number,Link
0,New Apple iPhone 12,RakhuNathan,Not Really worth the money,18 December 2020,4,I have been an android user for the past 8+ ...,1,https://www.amazon.in/New-Apple-iPhone-12-128G...
1,New Apple iPhone 12,Good vegetable,How to decide between iPhone 11 and 12,24 December 2020,4,"After thinking a lot, I decided to go ahead ...",1,https://www.amazon.in/New-Apple-iPhone-12-128G...
2,New Apple iPhone 12,Anil V Oommen,iPhone 12 review,7 November 2020,3,"Positives: Very fast, Picture Quality, video...",1,https://www.amazon.in/New-Apple-iPhone-12-128G...
3,New Apple iPhone 12,Sapana Konthoujam,Very poor service especially related to buying...,1 June 2021,1,The media could not be loa...,1,https://www.amazon.in/New-Apple-iPhone-12-128G...
4,New Apple iPhone 12,shubham,Apple .....bas always been just apple.,14 December 2020,5,Pros:there are 1000s of blog for prosCons:Ap...,1,https://www.amazon.in/New-Apple-iPhone-12-128G...
...,...,...,...,...,...,...,...,...
145,New Apple iPhone 12,Sahil Ahmed,It’s awesome! And original product,31 May 2021,5,It really awesome product but the delivery t...,15,https://www.amazon.in/New-Apple-iPhone-12-128G...
146,New Apple iPhone 12,Rickey,Thanks Amazon !!,15 August 2021,5,Got my IPhone 12 (128GB)..Very Happy with th...,15,https://www.amazon.in/New-Apple-iPhone-12-128G...
147,New Apple iPhone 12,Dhrubajyoti Deka,Must buy beauty !!!,8 June 2021,5,"Too good a phone !!! Light, beautiful and el...",15,https://www.amazon.in/New-Apple-iPhone-12-128G...
148,New Apple iPhone 12,Manojkumar,Excellent,13 September 2021,5,Excellent,15,https://www.amazon.in/New-Apple-iPhone-12-128G...
149,New Apple iPhone 12,PATEL PRIYANK,GOOD QUALITY PHONE,18 June 2021,5,GOOD QUALITYGOOD PRICE AMAZON,15,https://www.amazon.in/New-Apple-iPhone-12-128G...

In [47]:
df['Ratings'].describe()

count     150.0
unique      5.0
top         5.0
freq      101.0
Name: Ratings, dtype: float64

In [48]:
df.to_csv("Data1b_new",index=False)

In [49]:
# REDMI

In [54]:
df = pd.read_csv("Data_1c")
df.head()

,Product Name,Names,Heading,Date,Ratings,Reviews,Page Number,Link
0,Redmi Note 9 (Aqua Green 4GB RAM 128GB Storage...,Ujjwal,Overall a good phone 👌,Reviewed in India on 2 August 2020,5.0 out of 5 stars,Good phoneDecent look and looks stylishCamer...,1,https://www.amazon.in/Redmi-Note-Green-128GB-S...
1,Redmi Note 9 (Aqua Green 4GB RAM 128GB Storage...,Arpit,Dont buy.. after 10 to.15 mins gaming phone la...,Reviewed in India on 1 August 2020,1.0 out of 5 stars,Dont buy.. after 10 to.15 mins gaming phone ...,1,https://www.amazon.in/Redmi-Note-Green-128GB-S...
2,Redmi Note 9 (Aqua Green 4GB RAM 128GB Storage...,Sam singh,Not good,Reviewed in India on 1 August 2020,2.0 out of 5 stars,Not good phone stopped working after some ti...,1,https://www.amazon.in/Redmi-Note-Green-128GB-S...
3,Redmi Note 9 (Aqua Green 4GB RAM 128GB Storage...,Malik,Worst,Reviewed in India on 1 August 2020,2.0 out of 5 stars,"Worst product, not as expected its not even ...",1,https://www.amazon.in/Redmi-Note-Green-128GB-S...
4,Redmi Note 9 (Aqua Green 4GB RAM 128GB Storage...,PRABAHARAN,Don't buy. Reviewed on 31.10.2020,Reviewed in India on 1 August 2020,2.0 out of 5 stars,Here my product review after usage of 3 mont...,1,https://www.amazon.in/Redmi-Note-Green-128GB-S...

In [55]:
ext=[]
for i in range(len(df['Product Name'])):
    name , extra = df.iloc[i,0].split("(")
    df.iloc[i,0] = name
    ext.append(extra)

# Dates clean

for i in range(len(df["Date"])):
    rw= df.iloc[i,3]
    temp = [ x for x in rw.split(" ")]
    tem  = str(temp[4:])
    st=" ".join(temp[4:])
    #print(st)
    df.iloc[i,3] = st

# Cleaning Ratings

for i in range(len(df["Ratings"])):
    rat = df.iloc[i, 4]
    df.iloc[i,4]= float(rat[0:3])
df.head()

,Product Name,Names,Heading,Date,Ratings,Reviews,Page Number,Link
0,Redmi Note 9,Ujjwal,Overall a good phone 👌,2 August 2020,5,Good phoneDecent look and looks stylishCamer...,1,https://www.amazon.in/Redmi-Note-Green-128GB-S...
1,Redmi Note 9,Arpit,Dont buy.. after 10 to.15 mins gaming phone la...,1 August 2020,1,Dont buy.. after 10 to.15 mins gaming phone ...,1,https://www.amazon.in/Redmi-Note-Green-128GB-S...
2,Redmi Note 9,Sam singh,Not good,1 August 2020,2,Not good phone stopped working after some ti...,1,https://www.amazon.in/Redmi-Note-Green-128GB-S...
3,Redmi Note 9,Malik,Worst,1 August 2020,2,"Worst product, not as expected its not even ...",1,https://www.amazon.in/Redmi-Note-Green-128GB-S...
4,Redmi Note 9,PRABAHARAN,Don't buy. Reviewed on 31.10.2020,1 August 2020,2,Here my product review after usage of 3 mont...,1,https://www.amazon.in/Redmi-Note-Green-128GB-S...

In [56]:
df['Ratings'].describe()

count     150.0
unique      5.0
top         5.0
freq       47.0
Name: Ratings, dtype: float64

In [57]:
df.to_csv("Data1c_new",index=False)